* {
  box-sizing: border-box;
  outline: 1px dotted red;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

main {
  display: flex;
  flex: columns;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav,
footer,
form {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  display: flex;
  justify-content: center;
}

section {
  min-height: 200px;
  padding: 12% 0;
  background-color: #bbb;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  width: 1000px;
  height: 1000px;
}

.grid-item {
  background-color: greenyellow;
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.enemy-tile {
  background-color: red;
}

.player {
  background-color: blue;
}
